<div class="container">
  <div class="row">

    <div class="container mt-3">
      <div class="card">
        <div class="card-header text-black">
          <h4 class="mb-0">Upload Files and Configure Roster</h4>
        </div>
        <div class="card-body">
          <form (submit)="onSubmit()">
            <div class="row mb-3">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="shiftFile" class="form-label">Upload Store.json File</label>
                  <input type="file" id="shiftFile" class="form-control" (change)="onFileSelected($event, 'shifts')"
                         accept=".json"/>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="startDate" class="form-label">Start Date</label>
                  <input type="date" id="startDate" class="form-control" [(ngModel)]="startDate" name="startDate">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="endDate" class="form-label">End Date</label>
                  <input type="date" id="endDate" class="form-control" [(ngModel)]="endDate" name="endDate">
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-lg" style="width: 20%">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="d-flex justify-content-between mb-4">
        <button (click)="getSolveRoster()" class="btn btn-primary">Get Roster</button>
        <button (click)="terminateSolveRoster()" class="btn btn-danger">Terminate Roster</button>
      </div>

      <div *ngIf="message" class="alert alert-info">
        {{ message }}
      </div>

      <app-view-store *ngIf="roster.shiftAssignmentList.length > 0" [roster]="roster"></app-view-store>


      <div class="row mt-5">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h2 class="mb-0">Score</h2>
            </div>
            <div class="card-body">
              <ul class="list-unstyled">
                <li><strong>Init Score:</strong> {{ roster.score?.initScore }}</li>
                <li><strong>Hard Score:</strong> {{ roster.score?.hardScore }}</li>
                <li><strong>Soft Score:</strong> {{ roster.score?.softScore }}</li>
                <li><strong>Feasible:</strong> {{ roster.score?.feasible }}</li>
                <li><strong>Solution Initialized:</strong> {{ roster.score?.solutionInitialized }}</li>
                <li><strong>Zero:</strong> {{ roster.score?.zero }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-secondary text-white">
              <h2 class="mb-0">Score Explanation</h2>
            </div>
            <div class="card-body">
              <div *ngIf="scoreExplanation">
                <p><strong>Score:</strong> {{ scoreExplanation.score }}</p>
                <div *ngFor="let constraint of scoreExplanation.constraintMatchTotals">
                  <h3 class="h5">{{ constraint.constraintName }}</h3>
                  <p><strong>Score:</strong> {{ constraint.score }}</p>
                  <ul>
                    <li *ngFor="let match of constraint.constraintMatches">
                      <p><strong>Justification:</strong> {{ match.justification }}</p>
                      <p><strong>Score:</strong> {{ match.score }}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
