<div class="container">
  <h1>Employee Rostering</h1>
  <div class="row">
    <div class="col-4">
      <form (submit)="onSubmit()">
        <div class="form-group">
          <label for="employeeFile">Upload Employees.json File</label>
          <input type="file" id="employeeFile" (change)="onFileSelected($event, 'employees')" accept=".json"/>
        </div>
        <div class="form-group">
          <label for="shiftFile">Upload Shifts.json File</label>
          <input type="file" id="shiftFile" (change)="onFileSelected($event, 'shifts')" accept=".json"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="col-8">
      <button (click)="getSolveRoster()" class="btn btn-primary">Get Roster</button>
      <button (click)="terminateSolveRoster()" class="btn btn-primary m-3">Terminate Roster</button>
      <div *ngIf="roster.shiftAssignmentList">
        <h2>Generated Roster</h2>
        <table class="table table-bordered">
          <tr>
            <th>Skills</th>
            <th>Days</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Employee</th>
            <th>Employee skills</th>
            <th>Employee availability</th>
          </tr>
          <tr *ngFor="let assignment of roster.shiftAssignmentList">
            <td>{{assignment.shift.skills}}</td>
            <td>{{assignment.shift.days}}</td>
            <td>{{assignment.shift.startTime}}</td>
            <td>{{assignment.shift.endTime}}</td>
            <td>{{assignment.employee?.name}}</td>
            <td>{{assignment.employee?.skills}}</td>
            <td>
              <li *ngFor="let availability of assignment.employee?.availabilities">
                {{availability.days}}<br>
                {{availability.startTime}}<br>
                {{availability.endTime}}
              </li>
            </td>
          </tr>
        </table>
      </div>
      <div class="row">
        <div class="col-6">
          <h2>Score</h2>
          <li>initScore : {{roster.score?.initScore}}</li>
          <li>hardScore : {{roster.score?.hardScore}}</li>
          <li>softScore : {{roster.score?.softScore}}</li>
          <li>feasible : {{roster.score?.feasible}}</li>
          <li>solutionInitialized : {{roster.score?.solutionInitialized}}</li>
          <li>zero : {{roster.score?.zero}}</li>
        </div>
        <div class="col-6">
            <h1>Score Explanation</h1>
            <div *ngIf="scoreExplanation">
              <p>Score: {{ scoreExplanation.score }}</p>
              <div *ngFor="let constraint of scoreExplanation.constraintMatchTotals">
                <h3>constraintName : {{ constraint.constraintName }}</h3>
                <p>Score: {{ constraint.score }}</p>
                <ul>
                  <li *ngFor="let match of constraint.constraintMatches">
                    <b>Justification:</b> {{ match.justification }}
                    <ol><b>Score:</b> {{ match.score }}</ol>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>

      <div>
        {{message}}
      </div>
    </div>
  </div>
</div>
