<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 240px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a class="nav-link text-white fs-5" data-bs-toggle="collapse" href="#dashboardMenu" role="button" aria-expanded="false" aria-controls="dashboardMenu">
        <i class="bi bi-card-list me-2"></i>
        Dashboard
      </a>
      <div class="collapse menu-collapse" id="dashboardMenu">
        <ul class="btn-toggle-nav list-unstyled fw-normal fs-6 pb-1 small">
          <li><a href="#" class="text-decoration-none link-light d-block p-2">Overview</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white fs-5" data-bs-toggle="collapse" href="#employeeMenu" role="button" aria-expanded="false" aria-controls="employeeMenu">
        <i class="bi bi-person-fill me-2"></i>
        Employee
      </a>
      <div class="collapse menu-collapse" id="employeeMenu">
        <ul class="btn-toggle-nav list-unstyled fw-normal fs-6 pb-1 small">
          <li><a href="#" class="text-decoration-none link-light d-block p-2">Add Employee</a></li>
          <li><a routerLink="/employee-list" class="text-decoration-none link-light d-block p-2">Manage Employees</a></li>
          <li><a href="#" class="text-decoration-none link-light d-block p-2">Employee Shifts</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="nav-link text-white fs-5" data-bs-toggle="collapse" href="#storeMenu" role="button" aria-expanded="false" aria-controls="storeMenu">
        <i class="bi bi-shop-window me-2"></i>
        Store
      </a>
      <div class="collapse menu-collapse" id="storeMenu">
        <ul class="btn-toggle-nav list-unstyled fw-normal fs-6 pb-1 small">
          <li><a href="#" class="text-decoration-none link-light d-block p-2">Add Store</a></li>
          <li><a href="#" class="text-decoration-none link-light d-block p-2">Manage Stores</a></li>
          <li><a routerLink="/view-store" class="text-decoration-none link-light d-block p-2">View Store</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="nav-link text-white fs-5" data-bs-toggle="collapse" href="#shiftsMenu" role="button" aria-expanded="false" aria-controls="shiftsMenu">
        <i class="bi bi-briefcase me-2"></i>
        Shifts
      </a>
      <div class="collapse menu-collapse" id="shiftsMenu">
        <ul class="btn-toggle-nav list-unstyled fw-normal fs-6 pb-1 small">
          <li><a href="#" class="text-decoration-none link-light d-block p-2">Add Shifts</a></li>
          <li><a href="#" class="text-decoration-none link-light d-block p-2">Manage Shifts</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="nav-link text-white fs-5" data-bs-toggle="collapse" href="#constraintsMenu" role="button" aria-expanded="false" aria-controls="constraintsMenu">
        <i class="bi bi-shop-window me-2"></i>
        Constraints
      </a>
      <div class="collapse menu-collapse" id="constraintsMenu">
        <ul class="btn-toggle-nav list-unstyled fw-normal fs-6 pb-1 small">
          <li><a href="#" class="text-decoration-none link-light d-block p-2">Manage Constraints</a></li>
          <li><a routerLink="/view-store" class="text-decoration-none link-light d-block p-2">View Constraints</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <hr>
</div>
